@import '../../assets/scss/main.scss';

.hero {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 80vh;
	margin: 0;
	padding: 50px 0 0;
	background-color: rgba($primary,0.1);
	z-index: 0;
	&__heading {
		color: $primary;
		font-family: $fontFamilyHeadings;
		font-size: 3rem;
		font-weight: 600;
		line-height: 1;
		text-align: center;
		text-shadow: 10px 10px 0 rgba(0,0,0,0.1);
		z-index: 9;
	}

	&__scroller {
		position: absolute;
		bottom: -1.25rem;
		left: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 1.25rem 0 0;
		transform: translateX(-50%);
		z-index: 8;
	}

	&__scroll {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 2.5rem;
		height: 2.5rem;
		margin-top: 1rem;
		background-color: $secondary;
		border-radius: 50%;
		box-shadow: 0 0.875rem 1.75rem rgba(0,0,0,0.15), 0 0.625rem 0.625rem rgba(0,0,0,0.12);
		transition: all 0.25s cubic-bezier(.25,.8,.25,1);
		color: white;
		font-size: 1.25rem;
		text-decoration: none;
		&:hover {
			box-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,0.06), 0 0.0625rem 0.125rem rgba(0,0,0,0.12);
		}
		svg {
			transform: translateY(0.125rem);
		}
	}

	&__parallax {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url('../../assets/images/paper-circles.jpg');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: -1;
		.night & {
			background-image: url('../../assets/images/paper-circles-night.jpg');
			transition: 0.15s linear;
		}
	}
}